@font-face {
  font-family: "iconfont";
  /* Project id 4114859 */
  src: url('//at.alicdn.com/t/c/font_4114859_8ii47zqsuyd.woff2?t=1686366109075') format('woff2'), url('//at.alicdn.com/t/c/font_4114859_8ii47zqsuyd.woff?t=1686366109075') format('woff'), url('//at.alicdn.com/t/c/font_4114859_8ii47zqsuyd.ttf?t=1686366109075') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shouye:before {
  content: "\e601";
}
.icon-shanchu:before {
  content: "\e602";
}
.icon-sousuo:before {
  content: "\e603";
}
.icon-wenda:before {
  content: "\e604";
}
.icon-wode:before {
  content: "\e605";
}
.icon-youjiantou:before {
  content: "\e606";
}
.icon-zuojiantou:before {
  content: "\e607";
}
.icon-shoucang:before {
  content: "\e608";
}
.icon-dianzan:before {
  content: "\e609";
}
.icon-pinglun:before {
  content: "\e60a";
}
.icon-gengduo:before {
  content: "\e60b";
}
.icon-yanzhengma:before {
  content: "\e60c";
}
.icon-guanbi:before {
  content: "\e60d";
}
.icon-wuwangluo:before {
  content: "\e60e";
}
.icon-shouji:before {
  content: "\e60f";
}
.icon-dianzan2:before {
  content: "\e610";
}
.icon-fenxiang:before {
  content: "\e611";
}
.icon-yuedu:before {
  content: "\e612";
}
.icon-lishi:before {
  content: "\e613";
}
.icon-zuopin:before {
  content: "\e614";
}
body {
  background-color: #f5f7f9;
}
.page-nav-bar {
  background-color: #2892ff;
}
.page-nav-bar .van-nav-bar__title {
  color: #fff;
}
